
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
*{
  margin: 0px;
  padding: 0px;
  font-family: 'Fira Sans', sans-serif;
}
a{
  text-decoration: none;
  color: #5f5f5f;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: rgba(242, 238, 238, 0.974)
}

.hedding {
  font-size: 20px;
  color: #ab8181;
}

.main-section {
  position: absolute;
  left: 50%;
  right: 50%;
  transform: translate(-50%, 5%);
}

.left-side-product-box img {
  width: 100%;
}

.left-side-product-box .sub-img img {
  margin-top: 5px;
  width: 83px;
  height: 100px;
}

.right-side-pro-detail span {
  font-size: 15px;
}

.right-side-pro-detail p {
  font-size: 25px;
  color: #a1a1a1;
}

.right-side-pro-detail .price-pro {
  color: #E45641;
}

.right-side-pro-detail .tag-section {
  font-size: 18px;
  color: #5D4C46;
}

.pro-box-section .pro-box img {
  width: 100%;
  height: 200px;
}

@media (min-width:360px) and (max-width:640px) {
  .pro-box-section .pro-box img {
      height: auto;
  }
}



.sidebar {
  background-color: #f8f9fa;
  padding: 20px 10px;
  height: 100vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  margin-bottom: 10px;
}

.sidebar ul li a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
  display: block;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.sidebar ul li a:hover {
  background-color: #ddd;
}

 .card{
 border: none;
} 
.card:hover{
  box-shadow: 0 10px 10px rgb(0, 0, 0);
}
.textBody{
  width: 50%;
  
  margin: 20px auto;
  text-align: center;
 
}
.buyName:hover{
  box-shadow: 0 10px 10px rgba(207, 14, 14, 0.488);
  border-radius: 40px;
}
.sellName:hover{
  box-shadow: 0 10px 10px rgba(229, 102, 155, 0.644);
  border-radius: 30px;
}
.innoName:hover{
   box-shadow: 0 10px 0px rgba(24, 207, 14, 0.488);
   border-radius: 40px;

}
.formBodySell{
/* border: 2px solid rgb(6, 20, 217); */
border-radius: 20px;
background-color: white

}


.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px; /* Adjust the gap between grid items */
}

.grid-item {
  padding: 10px;
}
@media (max-width: 767px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 479px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}
.about-us-container {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}