body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 /* background-image: url(""); */
 
  background-repeat: no-repeat;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.tagline {
  /*border: 2px solid black;*/
  width: 30%;
  border-radius: 30px;
  margin: 20px auto;
  text-align: center;
  background-color: rgba(21, 136, 80, 0.777);
}

.singnup{
  margin: 0%;
  padding: 0%;
}
.Login-text{
  margin: 10% 10%;
}
.Login-form{
margin: 10%;
}
.signup-text{
  margin: 10% 10%;
}
.signup-form{
margin: 10%;
}

